.todo {
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.todo:hover {
  box-shadow: 2px 2px 15px rgba(114, 149, 237, 0.75);
  cursor: pointer;
  transform: scale(1.15);
}
